<% @article.comments.each do |comment| %>
<a class="pull-left" href="#">
  <img class="media-object" src="http://placehold.it/64x64" alt="">
</a>
<div class="media-body">
  <h4 class="media-heading"><%= h(comment.user.username)  %>
      <small><%= time_ago_in_words(comment.created_at) %></small>
  </h4>
  <p>
    <%= h(comment.body) %>
  </p>
  <%= link_to 'Edit', edit_article_comment_path(comment.article, comment)%>
  <%= link_to 'Destroy', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<% end %>
