<h1>Reviser</h1>

<%= form_for @user do |f| %>
  <%= f.label 'User' %>
  <%= f.autocomplete_field :username, users_autocomplete_user_username_path, id_element: '#user_id', multiple: true %>
<% end %>

<%= form_for [:admin, @reviser] do |f| %>
  <%= f.hidden_field :user_id, id: "user_id" %>
  <%= f.label "Theme" %>
  <%= f.select(:theme_id, @themes.collect {|t| [t.name, t.id]}, {prompt: "Select a theme"} ) %>
  <br>
  <%= f.submit %>
<% end %>

<% if @revisers.exists? %>
  <h1>List Revisers</h1>
  <table class='table'>
    <thead>
      <tr>
        <th>User</th>
        <th>Theme</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @revisers.each do |r| %>
        <tr>
          <td><%= r.user.username %></td>
          <td><%= r.theme.name %></td>
          <td><%= link_to 'Destroy', [:admin, r], method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<% end %>
