

    <div class="row">
        <div class="form-group col-lg-4">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group col-lg-4">

              <%= f.label "Theme" %><br>
              <%= f.select(:theme_id, @themes.collect {|t| [t.name, t.id]}, {prompt: "Select a theme"}, {class: "form-control selectpicker" } ) %>

        </div>

        <% if @publish.present? %>
        <% @publish.tag_types.each do |tag| %>
          <div class="form-group col-lg-4">
            <strong><%= f.label tag.to_s.titleize %></strong><br />
            <% tag_sym = "#{tag.to_s.singularize}_list".to_sym %>
            <% tag_list = "#{tag.to_s.singularize}_list" %>
            <%= f.text_field tag_sym, value: @publish.send(tag_list).to_s, :placeholder => "Comma-separated list of #{tag.to_s}", class: 'form-control' %>
          </div>
        <% end %>
        <% else %>
        <div class="form-group col-lg-4">
            <%= f.label :tag_list %><br>
            <%= f.text_field :tag_list, class: 'form-control' %>
        </div>
        <% end %>

        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", rows: 2 %>
        </div>
        <div class="form-group col-lg-12">
            <%= f.label :abstract %>
            <%= f.text_area :abstract, class: "form-control", rows: 8 %>
        </div>
        <%= f.fields_for :contents do |c| %>
          <div class="form-group col-lg-12 ">
            <%= c.label :contents %>
            <%= c.file_field :file, multiple: true, name: 'contents[file][]', class: 'file', id: 'file-1' %>
          </div>
        <% end %>

        <div class="form-group col-lg-12 text-center">
            <%= f.submit "Save", class: "btn btn-default" %>

        </div>
      </div>

      <script>
        $('#file-1').fileinput({
          showUpload: false,
          showCaption: false,
          allowedFileExtensions: ['jpg', 'png', 'pdf'],

        });
      </script>
