
<%= form_for @article, :url => articles_path, role: "form", :html => { :multipart => true } do |f| %>
    <div class="row">
        <div class="form-group col-lg-4">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="form-group col-lg-4">
          <%= fields_for(@themes) do |t| %>
              <%= f.label "Theme" %><br>
              <%= collection_select(:article, :theme_id, @themes, :id, :name, {prompt: "Select a theme"}, {class: "form-control selectpicker" }) %>
          <% end %>
        </div>
        <div class="form-group col-lg-4">
            <%= f.label :tag_list, "Tags" %><br>
            <%= f.text_field :tag_list, class: "form-control" %>
        </div>

        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", rows: 2 %>
        </div>
        <div class="form-group col-lg-12">
            <%= f.label :abstract %>
            <%= f.text_area :abstract, class: "form-control", rows: 8 %>
        </div>

        <div class="form-group col-lg-12">
          <%= f.label :file %>
          <%= f.file_field :file, class: "form-control" %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-group col-lg-12 text-center">
            <input type="hidden" name="save" value="contact">
            <%= f.submit class: "btn btn-default" %>

        </div>
      </div>
  <% end %>
