
<div class="box-style">
  <div class="inner">
    <%= search_form_for @q, url: url_for(controller: :articles) do |f| %>
        <ul class="list-link">
          <p class="">
            <span><%= f.text_field :title_or_description_cont_all, placeholder: 'Search...' %></span>

          </p>
          <li>
            <% @themes.each do |theme| %>
              <a href="#"><%= check_box_tag 'q[theme_id_in][]', theme.id %><%= theme.name %></a>
            <% end %>
          </li>
          <li>Imagem :<%= check_box_tag "q[article_review_contents_file_content_type_e[]]", 'image' %></li>
          <li>
            <%= f.label :updated_at_gteq, "Published from:" %>
            <%= f.text_field :updated_at_gteq, class: 'form-control date', id: 'datepicker' %>
            <%= f.label :updated_at_lteq, "to:" %>
            <%= f.text_field :updated_at_lteq, class: 'form-control date', id: 'datepicker2' %>
          </li>
          <li>
            <%= f.label :date_accepted_gteq, "Original article date from:" %>
            <%= f.text_field :date_accepted_gteq, class: 'form-control date', id: 'datepicker3' %>
            <%= f.label :date_accepted_lteq, "to:" %>
            <%= f.text_field :date_accepted_lteq, class: 'form-control date', id: 'datepicker4' %>
          </li>
          <li><a href="#"><%= f.submit 'Search' %></a></li>
        </ul>
    <% end %>
  </div>
</div>
