<div class="container-body">
  <div class="container">
    <div class="row">
      <article class="post-holder">
        <div class="content bg-base section">
          <header class="page-header">
            <div class="pull-right">
              <% if !current_user.recommend?(@article.id)  %>
                  <%= form_for([@article, Favorite.new], html: {  id: 'form_recommend'}) do |f| %>
                    <%= link_to "javascript:document.getElementById('form_recommend').submit();" do %>
                      <i class='fa fa-heart-o'></i>
                    <% end %>
                  <% end %>
              <% else %>
                  <%= link_to Favorite.find_by(article_id: @article.id, user_id: current_user), controller: :favorites, method: :delete do %>
                    <i class='fa fa-heart'></i>
                  <% end %>
              <% end %>
            </div>
            <div class="pull-right">
              <a href="#comments">
                <span class="comments-count-balloon bg-primary"><%= @article.comments.count %><em>Comments</em></span>
              </a>
            </div>
            <h2 class="page-title full-page-title">
              <%= @publish.title %>
            </h2>
            <div class="entry-meta">
              <span><strong>by </strong><a href="blog.html"><%= @publish.authors %></a></span>
              <br><span><strong>written </strong><time><%= @publish.date_writted.strftime("%B %d %Y") %></time></span>
              <br><span><strong>accepted </strong><time><%= @publish.date_accepted.strftime("%B %d %Y") %></time></span>
              <br><span>In <em><%= @publish.theme.name %></em></span>
            </div>
        </header>

        <div class="style-single">
            <h3>Description</h3>
            <p><%= @publish.description %></p>
            <h3>Abstract</h3>
            <p><%= @publish.abstract %></p>
        </div>
        <div class="style-single">
          <div class="after-entry">
            <hr>
            <aside class="widget">
              <i class="fa fa-tags"></i>
              <%= raw @publish.tag_list.map { |t| link_to content_tag(:span, t, { class: "label label-warning"}), tag_path(t) }.join(' ') %>
            </aside>
            <hr>
            <aside class="widget">
              <h3>Contents</h3>
              <div class="entries row">

                <%= render partial: 'paper' %>

                <%= render partial: 'resume' %>

                <%= render partial: 'images' %>

                <%= render partial: 'videos' %>

              </div>
            </aside>

            <hr>
            <aside class="widget widget-author media">
              <figure class="entry-author-avatar media-object avatar pull-left">
                <% if @publish.user.photo.present? %>
                  <%= image_tag @publish.user.photo.url(:avatar), class: 'avatar img-circle', alt: 'avatar' %>
                <% else %>
                  <%= image_tag '/assets/avatar.png', class: 'avatar img-circle', alt: 'avatar' %>
                <% end %>
              </figure>
              <div class="media-body">
                <h4 class="entry-author-name">
                  <%= link_to @publish.user.username, @publish.user %>
                </h4>
                <h5 class="orange"><strong><%= @publish.created_at.strftime("%B %d %Y") %></strong></h5>
                <p><%= @publish.user.about %></p>
              </div>
            </aside>
            <hr>
          </div>

        </div>
        <% if current_user.id==@publish.user_id %>
          <p class="text-center">
            <%= link_to edit_article_path(@publish), {class: "btn btn-warning btn-lg"} do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              Edit
            <% end %>

            <%= link_to article_path(@publish), class: "btn btn-warning btn-lg ",  method: :delete do %>
              <span class="glyphicon glyphicon-remove"></span>
              Destroy
            <% end %>
          </p>
        <% elsif current_user.admin? %>
            <p class="text-center">
              <%= link_to article_path(@publish), class: "btn btn-warning btn-lg ",  method: :delete do %>
                <span class="glyphicon glyphicon-remove"></span>
                Destroy
              <% end %>
            </p>
        <% end %>
        <div class="well">
          <h4>Leave a Comment:</h4>

         <%= render 'comments/form' %>

         <hr class="hr-comments">
         <div id="comments">
           <%= render partial: @article.comments.reverse %>
         </div>
        </div>
      </div>
      </article>

    </div>
  </div>
</div>

<script type='text/javascript'>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>