
<% if @notposts.present? %>
  <table id="versions" class="display">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Theme</th>
        <th>Created</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @notposts.each do |v| %>
      <tr>
        <td><%= link_to v.id, { controller: 'reviews', action: 'show', id: v.id } %></td>
        <td><%= link_to v.title, { controller: 'reviews', action: 'show', id: v.id } %></td>
        <td><%= v.theme.name %></td>
        <td><%= v.created_at.strftime("%b %e") %><br><%= v.created_at.strftime("%l:%M %p") %></td>
        <td><%= v.status %></td>
        <td><%= v.comment %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No records</p>
<% end %>
