Username:<%= simple_format @user.username %>
Date created: <%= simple_format @user.created_at.to_time.strftime('%m/%d/%Y') %>
User Clearance: <% if @user.user_type == 1 %>
            <%= simple_format "Admin" %>
            <% elsif @user.user_type == 2%>
              <%= simple_format "Reviewer" %> 
            <% else %>
              <%= simple_format "Normal User" %>
          <% end %>
Email: <%= simple_format @user.email %>

<% if current_user.id == @user.id %>
  <%= link_to t('.change_password'), new_password_path %>
<% end %>
<p>&nbsp;</p>
<%= render partial: 'user_posts' %>
<p>&nbsp;</p>
<%= render partial: 'user_favorites' %>