<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-color navbar-left">
            <li><a class="navbar-brand" href="#"><img style="margin-top: -12px;" src="<%= asset_path("tag1.png") %>"></a></li>
            <li style="margin-left:-30px;"><a>tangerina</a></li>
          </ul>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-color">
                  <li><a href="/">Home</a></li>
                  <li><%= link_to 'Articles', articles_path %></li>
                  <li><%= link_to 'New Article', new_article_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-color navbar-right">
                  <li><%= link_to  sign_out_path, method: :delete do %>
                    <%= current_user.email %>
                    <span title="Logout" class="glyphicon glyphicon-log-out"></span>
                  <% end %></li>
              </ul>
          </div>

          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
