<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-lg-4">
    <%= fields_for(@themes) do |t| %>
      <%= f.label "Theme" %><br>
      <%= collection_select(:subscription, :theme_id, @themes, :id, :name, {prompt: "Select a theme"}, {class: "form-control selectpicker" }) %>
    <% end %>
  </div>
  <div class="subscription-User">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="button-submit">
    <%= f.submit %>
  </div>
<% end %>
