<div class='row'>
  <div class="form-group col-lg-4"></div>
  <div class="form-group col-lg-4">
    <p>
      <%= f.text_field :subject, class: "form-control", placeholder: 'Subject', required: true, autofocus: true %>
    </p>
    <%= fields_for(@themes) do |t| %>
      <%= collection_select(:subscription, :theme_id, @themes, :id, :name, {prompt: "Select a theme"}, {class: "form-control selectpicker" }) %>
    <% end %>
    <br>
    <div class='text-center'>
      <%= f.label :notify %>
      <%= f.check_box :notify %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <p class='text-center'>
      <%= f.submit 'Save', class: 'btn btn-default' %>
    </p>
  </div>
</div>
