<!--p id="notice"><%= notice %></p-->

<div  class='row'>
  <div class='box'>
    <div class='col-lg-12 header'>
      <hr class='hr-post'>
      <h2 class='intro-text text-center'>Subscriptions</h2>
      <hr class='hr-post'>
      <div class='span8'>
        <p class='link_recommend'>
            <% @subscriptions.each do |subscription| %>
              <p><%= subscription.theme.name %>
              <%= link_to 'Destroy', subscription, method: :delete %></p>
            <% end %>
            <%= link_to 'New', new_subscription_path, {class: "btn btn-default btn-lg"}  %>
        </p>
      </div>
      <hr class='hr-comments'>
      <p>
      </p>
    </div>
  </div>
</div>

<!--div class="subscriptions-page">
  <h1>Listing Subscriptions</h1>

  <table>
    <thead>
      <tr>
        <th>Theme</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @subscriptions.each do |subscription| %>
        <tr>
          <%if subscription.user.id == current_user.id %>
            <td><%= subscription.theme.name %></td>
            <td><%= subscription.user.username %></td>
            <td><%= link_to 'Show', subscription %></td>
            <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
            <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Subscription', new_subscription_path %>
</div-->



  <p>&nbsp;</p>
  <%= render partial: 'articles/article', object: @articles %>
  <% if @articles.count==0 %>
    <h1 class="text-center">NO ARTICLES</h1>
    <p class='text-center'><img class="" src="/assets/emotion.png" ></p>
  <% end %>
