<!--p id="notice"><%= notice %></p-->

<div  class='row'>
  <div class='box'>
    <div class='col-lg-12 header'>
      <hr class='hr-post'>
      <h2 class='intro-text text-center'>Subscriptions</h2>
      <hr class='hr-post'>
      <div class='span8'>
        <p class='link_recommend'>
            <% @subscriptions.each do |subscription| %>
              <p><%= subscription.subject %>
              <%= link_to 'Destroy', subscription, method: :delete %></p>
            <% end %>
            <%= link_to 'New', new_subscription_path, {class: "btn btn-default btn-lg"}  %>
        </p>
      </div>
      <hr class='hr-comments'>
      <p>
      </p>
    </div>
  </div>
</div>

  <p>&nbsp;</p>
  <%= render partial: 'articles/article', object: @articles %>
  <div class="pagination">
    <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  </div>
  <% if @articles.count==0 %>
    <h1 class="text-center">NO ARTICLES</h1>
    <p class='text-center'><img class="" src="/assets/emotion.png" ></p>
  <% end %>
