<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @subscription.theme.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @subscription.user.username %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
