
<h1>Listing Themes</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% smart_listing.collection.each do |theme| %>
      <tr class="editable" data-id="<%= theme.id %>">
        <%= smart_listing.render(theme: theme, partial: "admin/themes/theme", locals: {theme: theme}) %>
      </tr>
    <% end %>

    <%= smart_listing.item_new colspan: 6, link: new_admin_theme_path %>
  </tbody>
</table>
<%= smart_listing.paginate %>
<%= smart_listing.pagination_per_page_links %>
