<p id="notice"><%= notice %></p>


<%= form_for(@theme, remote: true, url: admin_themes_path) do |f| %>
<p>
  <%= f.label :name, "New Theme" %>
  <%= f.text_field :name %>
  <%= f.submit "Add Theme" %>
</p>

<% end %>


<h1>Listing Themes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: @theme %>
  </tbody>
</table>
