<h2 class="text-center">Updated Articles</h2>
<% if versions.present? %>
  <table class='table'>
    <thead>
      <tr>
        <th>Article ID</th>
        <th>Title</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
      <% versions.reverse.each do |v| %>
      <tr>
          <td><%= link_to v.article_id, { action: 'show', id: v.id } %></td>
          <td><%= v.title %></td>
          <td><%= v.created_at %></td>
          <td><%= v.updated_at %></td>
          <td><%= User.find(v.user_id).username %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No records</p>
<% end %>
