<div class="container-body">
  <div class="container">
    <div class="row">
      <article class="post-holder">
        <div class="content bg-base section">
          <header class="page-header">
            <h2 class="page-title full-page-title">
              <%= @article_review.title %>
            </h2>
            <div class="entry-meta">
              <span><strong>by </strong><%= @article_review.authors %></span>
              <br><span><strong>written </strong><time><%= @article_review.date_writted.strftime("%B %d %Y") %></time></span>
              <br><span><strong>accepted </strong><time><%= @article_review.date_accepted.strftime("%B %d %Y") %></time></span>
              <br><span>In <em><%= @article_review.theme.name %></em></span>
            </div>
        </header>

        <div class="style-single">
            <h3>Description</h3>
            <p><%= @article_review.description %></p>
            <h3>Abstract</h3>
            <p><%= @article_review.abstract %></p>
        </div>
        <div class="style-single">
          <div class="after-entry">
            <hr>
            <aside class="widget">
              <i class="fa fa-tags"></i>
              <%= raw @article_review.tag_list.map { |t| link_to content_tag(:span, t, { class: "label label-warning"}), tag_path(t) }.join(' ') %>
            </aside>
            <hr>
            <aside class="widget">
              <h3>Contents</h3>
              <div class="entries row">

                <%= render partial: 'paper' %>

                <%= render partial: 'resume' %>

                <%= render partial: 'images' %>

                <%= render partial: 'videos' %>

              </div>
            </aside>

            <hr>
            <aside class="widget widget-author media">
              <div class="media-body">
                <h4 class="entry-author-name">
                  <%= link_to @article_review.user.username, @article_review.user %>
                </h4>
                <h5 class="orange"><strong><%= @article_review.created_at.strftime("%B %d %Y") %></strong></h5>
              </div>
            </aside>
            <hr>
          </div>
        </div>
      </div>
      <p class="text-center">
        <% if @article_review.status == 'pending' %>
          <%= link_to controller: "reviews", action: "accept" do %>
            <span class="glyphicon glyphicon-ok"></span>
            Accept
          <% end %>

        <%= link_to '', data: { toggle: 'modal', target: '#myModalNorm' } do %>
          <span class="glyphicon glyphicon-remove"></span>
          Reject
        <% end %>
      <% end %>
    </p>
    <%= render partial: 'comment' %>
      </article>

    </div>
  </div>
</div>
