<script type='text/javascript'>

(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();

</script>

<div class="row">
    <div class="box">

      <div class="theme-icon">
        <img src='/assets/<%= @article_review.theme.name %>.png' alt="">
      </div>
      <div class="pull-right">
        <h5><%= @article_review.event %>
      </div>
        <div class="col-lg-12 header">
            <hr class="hr-post">
            <h2 class="intro-text text-center"><%= @article_review.title %></h2>
            <hr class="hr-post">
            <div class="span8">
              <p>
                <i class="icon-user"></i><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <a href="#"><%= @article_review.user.username %></a>
                | <i class="icon-calendar"></i> <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                <%= @article_review.created_at.strftime("%d %b. %Y") %>
                | <i class="icon-file"></i>
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                 1 Files
              </p>
              <p>
                <%= raw @article_review.tag_list.map { |t| link_to content_tag(:span, t, { class: "label label-info"}), tag_path(t) }.join(', ') %>
              </p>
            </div>
        </div>
        <div class="col-lg-12">
          <h5>Description:</h5>
          <p><%= @article_review.description %></p>
          <hr class="hr-comments">
            <h5>Abstract:</h5>
            <p><%= simple_format @article_review.abstract %></p>
            <br>
            <div class="text-center">
              <h4><strong>Files </strong>
                <a href="http://www.youtube.com/watch?v=k6mFF3VmVAs" class="fancybox-media">Ghostpoet - Cash and Carry Me Home</a>

                <%= link_to @article_review.file.url do %>
                  <%= image_tag 'pdf.png' %>
                <% end %>

                <h5>Videos youtubes ID:</h5>
                <% @videos.each do |v| %>
                  <p><%= Video.youtube_id(v.id) %></p>
                <% end %>
            </h4>
            </div>
            <hr class="hr-comments">
            <p class="text-center">


                  <% @contents.each do |c| %>

                    <% if c.file.content_type == 'application/pdf' %>

                      <%= link_to c.file.url, class: "fancybox fancybox.iframe" do %>
                        <%= image_tag 'pdf.png' %>
                      <% end %>
                    <% end %>
                  <% end %>
              </h4>
              </div>
              <hr class="hr-comments">
              <p class="text-center">

                <%= link_to controller: "reviews", action: "accept" do %>
                  <span class="glyphicon glyphicon-ok"></span>
                  Accept
                <% end %>

              <%= link_to  controller: "reviews", action: 'reject' do %>
                <span class="glyphicon glyphicon-remove"></span>
                Reject
              <% end %>

            </p>
        </div>
    </div>
</div>
