<!DOCTYPE html>
<html>
<head>
  <title>Tangerina</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <% if signed_in? %>
    <%= render partial: 'shared/navbar' %>
  <% else %>
    <%= link_to 'Sign in', sign_in_path %>
  <% end %>

  <%= render partial: "shared/flash_messages", flash: flash %>
  <div class="container">
   <%= yield %>
  </div>
</body>
</html>
